:root {
    --font-name-family : 'Dancing Script',cursive ;
    --font-medium-xx-size : 1.25rem;
    --font-medium-x-size : 1.125rem;
    --font-medium-size : 1rem;
    --black: #0e0f13;
    --skills-gradient: #00000099;
    --input-form-color: #212529;
    --secondary: #343a40;
    --scrollbar-color: #424242;
    --main-shadow: #6c757d;
    --overview-layer: #7e7c7c81;
    --white: #f3f4f6;
    --placeholder-color: #8e98a1;
    --primary: #e1e1e1;
    --focus-color: #ced4da;
    --hover-color: #d1d1d1;
    --svg-color: #cfcfcfcc;
    --active-color: #bcbebf;
    --active-color-nav: #3b82f6;
    --active-color-hover-nav: #5ba8e8;
  }
  .dark-mode {
    --white: #0e0f13;
    --primary: #343a40;
    --placeholder-color: #495057;
    --focus-color: #424242;
    --hover-color: #495057;
    --black: #f3f4f6;
    --secondary: #d7d4d4;
    --input-form-color: #e1e1e1;
    --skills-gradient: #cfcfcf99;
    --scrollbar-color: #c2c9cf;
    --svg-color: #8e98a1;
    --active-color: #2c3237;
    --active-color-nav: #197de1;
    --active-color-hover-nav: #2b8ae8
  }


.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.skills-container h2{
    text-align: center;
    overflow: hidden;
    color: #656666;
    border-bottom: 1px solid #626161;
    line-height: 1.5em;
    padding: 10px 0;

}

.skill-category {
    margin-bottom: 20px;
}

.skill-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-item:hover {
    box-shadow: 0 8px 16px 0   rgba(22, 21, 21, 0.6);
  }
.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:  0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.skill-item img {
    width: 50px;
    height: 50px;
    flex: 1;
    object-fit: cover;
}

.skill-item h3 {
    margin-right: 10px;
}

.skill-item a {
    color: #007bff;
    text-decoration: none;
}